Bug Bounty Duplicate Detection System(3).json
{
  "name": "Bug Bounty Duplicate Detection System",
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "operation": "get",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $env.DISCORD_GUILD_ID }}"
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $env.DISCORD_CHANNEL_ID }}"
        },
        "messageId": "={{ $env.DISCORD_MESSAGE_ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -9648,
        -144
      ],
      "id": "ffd39bbb-5910-4c8d-b0bd-ab1db38350be",
      "name": "Get Bug Report from Discord",
      "webhookId": "bcbdc80e-5d47-4ac4-b6fe-b62c7c09eb29",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1ddfe718-f860-4011-bf21-9b77d14d5a5c",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "2aafe829-b971-4022-aa33-8c77e25d4a6d",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "bug|issue|vulnerability|error|problem|broken",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -9424,
        -144
      ],
      "id": "5e48c020-0d39-4dc5-a3ca-16e947a0e230",
      "name": "Filter Valid Bug Reports"
    },
    {
      "parameters": {
        "jsCode": "// Sanitize and structure the bug report\nconst message = $input.first();\nconst content = message.json.content || '';\n\n// Remove mentions, sanitize URLs, limit length\nconst sanitized = content\n  .replace(/<@[!&]?\\d+>/g, '[USER]')\n  .replace(/https?:\\/\\/[^\\s]+/g, '[URL]')\n  .slice(0, 2000);\n\n// Extract basic structure\nconst bugReport = {\n  messageId: message.json.id,\n  authorId: message.json.author?.id || 'unknown',\n  authorName: message.json.author?.username || 'unknown',\n  channelId: message.json.channel_id,\n  timestamp: message.json.timestamp || new Date().toISOString(),\n  rawContent: sanitized,\n  searchableText: sanitized.toLowerCase().trim(),\n  threadId: message.json.id\n};\n\nreturn { json: bugReport };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9200,
        -144
      ],
      "id": "6bd574aa-1df8-42ae-96bf-06ad92ba7b30",
      "name": "Sanitize and Extract Bug Details",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.rawContent }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a bug triage specialist for n8n automation platform. Analyze bug reports and extract structured information.\n\nYour task:\n1. Extract the bug title (concise, descriptive)\n2. Identify the bug description\n3. List steps to reproduce (if provided)\n4. Determine expected vs actual behavior\n5. Classify severity: critical, high, medium, or low\n6. Identify affected components/features\n7. Generate a search-optimized summary for duplicate detection\n\nRespond ONLY with valid JSON in this exact format:\n{\n  \"title\": \"Brief bug title\",\n  \"description\": \"Detailed description\",\n  \"stepsToReproduce\": [\"step1\", \"step2\"],\n  \"expectedBehavior\": \"What should happen\",\n  \"actualBehavior\": \"What actually happens\",\n  \"severity\": \"critical|high|medium|low\",\n  \"affectedComponents\": [\"component1\", \"component2\"],\n  \"searchSummary\": \"Optimized text for semantic search\"\n}\n\nIf information is missing, use \"not specified\" for strings or empty arrays for lists."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -8816,
        -352
      ],
      "id": "b6ed9d71-7610-42f3-a884-9a8d1c6fcdaa",
      "name": "AI Agent - Analyze Bug Report"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -8976,
        -128
      ],
      "id": "dc56c078-25f4-4790-a3e9-477ea21859e4",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -8848,
        -128
      ],
      "id": "6d1ffbcc-d262-466c-9df2-3e2a439b826f",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -8432,
        -128
      ],
      "id": "f6c7fd55-0858-4a9a-82b1-dd875f71e58d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the existing bug reports database to find similar issues. Use the search summary from the analyzed bug to query.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "bug_reports_vector_store"
        },
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -8720,
        -128
      ],
      "id": "e9464e92-b8d1-4c9e-bfb6-b7379b6f5841",
      "name": "Vector Store Search Tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -8640,
        80
      ],
      "id": "79148b29-fec6-49f5-a987-91ce82e55645",
      "name": "Embeddings HuggingFace"
    },
    {
      "parameters": {
        "jsCode": "// Merge AI analysis with original bug data\nconst originalBug = $('Sanitize and Extract Bug Details').first().json;\nconst aiAnalysis = $input.first().json;\n\n// Combine all data\nconst enrichedBug = {\n  ...originalBug,\n  analysis: aiAnalysis,\n  searchableText: aiAnalysis.searchSummary || originalBug.searchableText\n};\n\nreturn { json: enrichedBug };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8224,
        -144
      ],
      "id": "ef6106d1-e89c-407e-8599-08ccf77ee718",
      "name": "Merge AI Analysis with Bug Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "bug_reports_vector_store"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -10016,
        596
      ],
      "id": "bbd24801-3eff-4818-889c-ff1a6b2f8140",
      "name": "Search Existing Bug Reports"
    },
    {
      "parameters": {
        "jsCode": "// Calculate similarity and determine if duplicate\nconst currentBug = $('Merge AI Analysis with Bug Data').first().json;\nconst searchResults = $input.all();\n\nconst SIMILARITY_THRESHOLD = 0.82;\n\nif (searchResults.length === 0) {\n  return {\n    json: {\n      isDuplicate: false,\n      currentBug: currentBug,\n      matchedBugs: []\n    }\n  };\n}\n\nconst matches = searchResults\n  .filter(result => {\n    const score = result.json.metadata?.score || 0;\n    return score >= SIMILARITY_THRESHOLD;\n  })\n  .sort((a, b) => (b.json.metadata?.score || 0) - (a.json.metadata?.score || 0));\n\nif (matches.length > 0) {\n  const bestMatch = matches[0];\n  return {\n    json: {\n      isDuplicate: true,\n      currentBug: currentBug,\n      matchedBug: {\n        threadId: bestMatch.json.metadata?.threadId,\n        similarity: bestMatch.json.metadata?.score,\n        content: bestMatch.json.pageContent\n      },\n      allMatches: matches.map(m => ({\n        threadId: m.json.metadata?.threadId,\n        similarity: m.json.metadata?.score\n      }))\n    }\n  };\n} else {\n  return {\n    json: {\n      isDuplicate: false,\n      currentBug: currentBug,\n      matchedBugs: searchResults.map(r => ({\n        threadId: r.json.metadata?.threadId,\n        similarity: r.json.metadata?.score\n      }))\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9944,
        404
      ],
      "id": "d1603f40-00af-4d06-94c9-fd9a8a9ffec7",
      "name": "Check Duplicate Threshold",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isDuplicate }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Duplicate Found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isDuplicate }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Bug"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -9648,
        404
      ],
      "id": "8d382986-d6a1-43bc-8c54-be313810ef44",
      "name": "Route by Duplicate Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.currentBug.channelId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=❌ **Duplicate Bug Report Detected**\\n\\n**Issue:** {{ $json.currentBug.analysis.title }}\\n**Severity:** {{ $json.currentBug.analysis.severity.toUpperCase() }}\\n\\nThis issue has already been reported and is being tracked.\\n\\n**Original Report:** <https://discord.com/channels/{{ $env.DISCORD_GUILD_ID }}/{{ $json.currentBug.channelId }}/{{ $json.matchedBug.threadId }}>\\n**Similarity:** {{ Math.round($json.matchedBug.similarity * 100) }}%\\n\\nThis thread will be closed. Please follow the original thread for updates."
            },
            {
              "name": "message_reference",
              "value": "={{ { \"message_id\": $json.currentBug.messageId } }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9424,
        256
      ],
      "id": "ae9eba90-1a5a-42ba-a528-769694d6559d",
      "name": "Reply with Duplicate Reference",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.currentBug.channelId }}/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.currentBug.analysis.title.slice(0, 100) }}"
            },
            {
              "name": "message_id",
              "value": "={{ $json.currentBug.messageId }}"
            },
            {
              "name": "auto_archive_duration",
              "value": "10080"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9424,
        552
      ],
      "id": "6027f10d-3209-4e34-8f97-042c72270d41",
      "name": "Create New Bug Thread",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "insertOne",
        "collection": "bug_reports"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -9200,
        552
      ],
      "id": "fc6cea56-02af-4cb0-a1b0-2ee46b193b6a",
      "name": "Store Bug in MongoDB",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "bug_reports_vector_store"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -8776,
        448
      ],
      "id": "698ee0cc-cabb-4400-b1a2-0840aed0c7e9",
      "name": "Store Bug in Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -8704,
        672
      ],
      "id": "4cb08846-95ab-4fa2-8cd9-fff430ef9121",
      "name": "Document Loader"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.currentBug.channelId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ **New Bug Report Registered**\\n\\n**Title:** {{ $json.currentBug.analysis.title }}\\n**Severity:** {{ $json.currentBug.analysis.severity.toUpperCase() }}\\n**Affected Components:** {{ $json.currentBug.analysis.affectedComponents.join(', ') || 'Not specified' }}\\n\\nThank you for reporting this issue! A new thread has been created to track this bug.\\n\\n**Thread ID:** {{ $json.currentBug.threadId }}\\n**Status:** Under Review\\n\\nOur team will investigate and provide updates in the thread."
            },
            {
              "name": "message_reference",
              "value": "={{ { \"message_id\": $json.currentBug.messageId } }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8224,
        552
      ],
      "id": "f79576d6-7795-46ae-9bad-cbc1f1be13ba",
      "name": "Reply with Confirmation",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -9200,
        256
      ],
      "id": "ea848fc0-31b0-4017-910c-9f2a4f398085",
      "name": "Rate Limit Delay",
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://discord.com/api/v10/channels/{{ $json.currentBug.channelId }}/messages/{{ $json.currentBug.messageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flags",
              "value": "4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8712,
        256
      ],
      "id": "d9001691-101c-4978-b0a7-5cc869dba910",
      "name": "Close Duplicate Thread",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -9944,
        -144
      ],
      "id": "238b381a-db7e-430e-801e-d6fd68a922dd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "# AI RAG Workflow for Large Scale\n## Key Considerations:\n- Vector Database: Use a persistent, scalable vector database (e.g., Pinecone, Weaviate, or Qdrant) instead of in-memory storage. This ensures fast retrieval and scalability as the number of bug reports grows.\n- Embedding Model: Use a high-performance, production-grade embedding model (e.g., text-embedding-3-large from OpenAI or bge-large-en from Hugging Face) for better accuracy and semantic understanding.\n- Batch Processing: Implement batch processing for analyzing and indexing bug reports to reduce latency and resource usage.\n- Distributed Workload: Use a distributed task queue (e.g., RabbitMQ, Kafka) to handle high volumes of incoming bug reports and distribute the workload across multiple workers.\n- Caching: Cache frequent queries and results to reduce redundant computations and improve response times.\n- Monitoring & Alerts: Set up comprehensive monitoring (e.g., Prometheus, Grafana) and alerting for system health, duplicate detection accuracy, and workflow performance.\n- Rate Limiting: Implement robust rate limiting and retry logic for API calls (e.g., Discord, MongoDB, Google Sheets) to avoid hitting quotas.\n- Error Handling: Ensure robust error handling and logging for all external API calls and internal processes, with automatic retries and fallback mechanisms.\n",
        "height": 1312,
        "width": 2224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -10192,
        -560
      ],
      "id": "181c4593-b2c4-4cb4-a151-dbc06b5b72d6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# AI RAG Workflow for Small Scale\n## Key Considerations:\n- Vector Database: Use in-memory vector storage (as currently implemented) for simplicity and low latency. Suitable for small teams and limited bug report volumes.\n- Embedding Model: Use a lightweight embedding model (e.g., all-MiniLM-L6-v2 from Hugging Face) to balance performance and resource usage.\n- Single Worker: Run the workflow on a single n8n instance or a small VM, as the workload is manageable for a small team.\n- Manual Review: Include a manual review step for flagged duplicates or high-severity bugs to ensure accuracy and build trust in the system.\n- Simple Logging: Use basic logging (e.g., Google Sheets, local files) for tracking bugs and duplicates. No need for complex monitoring.\n- Rate Limiting: Minimal rate limiting is needed, but still include basic retries for API calls.\n- Error Handling: Basic error handling with notifications to a dedicated Discord channel or email for manual intervention.\n\n\n",
        "height": 1296,
        "width": 2656,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -10192,
        768
      ],
      "id": "3d709e71-507b-42c5-8f84-c134a7145722",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://discord.com/api/v10/channels/{{ $json.currentBug.channelId }}/messages/{{ $json.currentBug.messageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flags",
              "value": "4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8712,
        1488
      ],
      "id": "4751009a-49a0-428c-a360-2c3fdcf89b5f",
      "name": "Close Duplicate Thread1",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -9200,
        1488
      ],
      "id": "13f7ae37-39c2-46f4-876e-6da3b338df79",
      "name": "Rate Limit Delay1",
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.currentBug.channelId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ **New Bug Report Registered**\\n\\n**Title:** {{ $json.currentBug.analysis.title }}\\n**Severity:** {{ $json.currentBug.analysis.severity.toUpperCase() }}\\n**Affected Components:** {{ $json.currentBug.analysis.affectedComponents.join(', ') || 'Not specified' }}\\n\\nThank you for reporting this issue! A new thread has been created to track this bug.\\n\\n**Thread ID:** {{ $json.currentBug.threadId }}\\n**Status:** Under Review\\n\\nOur team will investigate and provide updates in the thread."
            },
            {
              "name": "message_reference",
              "value": "={{ { \"message_id\": $json.currentBug.messageId } }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8224,
        1784
      ],
      "id": "58fde798-a078-499b-8020-2e647a4382b6",
      "name": "Reply with Confirmation1",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -8704,
        2008
      ],
      "id": "1f0a5ff7-2575-4eff-9f85-98664fd264b9",
      "name": "Document Loader1"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "bug_reports_vector_store"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -8776,
        1784
      ],
      "id": "fbc9fcea-b628-464e-9926-63fc03d35c05",
      "name": "Store Bug in Vector Store1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.currentBug.channelId }}/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.currentBug.analysis.title.slice(0, 100) }}"
            },
            {
              "name": "message_id",
              "value": "={{ $json.currentBug.messageId }}"
            },
            {
              "name": "auto_archive_duration",
              "value": "10080"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9424,
        1784
      ],
      "id": "e1c3c970-d660-4977-a4ee-50aa88d70fb8",
      "name": "Create New Bug Thread1",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.currentBug.channelId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=❌ **Duplicate Bug Report Detected**\\n\\n**Issue:** {{ $json.currentBug.analysis.title }}\\n**Severity:** {{ $json.currentBug.analysis.severity.toUpperCase() }}\\n\\nThis issue has already been reported and is being tracked.\\n\\n**Original Report:** <https://discord.com/channels/{{ $env.DISCORD_GUILD_ID }}/{{ $json.currentBug.channelId }}/{{ $json.matchedBug.threadId }}>\\n**Similarity:** {{ Math.round($json.matchedBug.similarity * 100) }}%\\n\\nThis thread will be closed. Please follow the original thread for updates."
            },
            {
              "name": "message_reference",
              "value": "={{ { \"message_id\": $json.currentBug.messageId } }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9424,
        1488
      ],
      "id": "7932e93e-0516-4bda-8b40-f7a4de5e8775",
      "name": "Reply with Duplicate Reference1",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isDuplicate }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Duplicate Found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isDuplicate }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Bug"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -9648,
        1636
      ],
      "id": "f0f7a233-c0e9-485b-9a76-bcb48dc99a12",
      "name": "Route by Duplicate Status1"
    },
    {
      "parameters": {
        "jsCode": "// Calculate similarity and determine if duplicate\nconst currentBug = $('Merge AI Analysis with Bug Data1').first().json;\nconst searchResults = $input.all();\n\nconst SIMILARITY_THRESHOLD = 0.82;\n\nif (searchResults.length === 0) {\n  return {\n    json: {\n      isDuplicate: false,\n      currentBug: currentBug,\n      matchedBugs: []\n    }\n  };\n}\n\nconst matches = searchResults\n  .filter(result => {\n    const score = result.json.metadata?.score || 0;\n    return score >= SIMILARITY_THRESHOLD;\n  })\n  .sort((a, b) => (b.json.metadata?.score || 0) - (a.json.metadata?.score || 0));\n\nif (matches.length > 0) {\n  const bestMatch = matches[0];\n  return {\n    json: {\n      isDuplicate: true,\n      currentBug: currentBug,\n      matchedBug: {\n        threadId: bestMatch.json.metadata?.threadId,\n        similarity: bestMatch.json.metadata?.score,\n        content: bestMatch.json.pageContent\n      },\n      allMatches: matches.map(m => ({\n        threadId: m.json.metadata?.threadId,\n        similarity: m.json.metadata?.score\n      }))\n    }\n  };\n} else {\n  return {\n    json: {\n      isDuplicate: false,\n      currentBug: currentBug,\n      matchedBugs: searchResults.map(r => ({\n        threadId: r.json.metadata?.threadId,\n        similarity: r.json.metadata?.score\n      }))\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9944,
        1636
      ],
      "id": "9a8a8253-66e8-4412-89e4-ebe26843e189",
      "name": "Check Duplicate Threshold1",
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "bug_reports_vector_store"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -10016,
        1828
      ],
      "id": "e453482a-35ac-4bb0-aa16-932d51cb278a",
      "name": "Search Existing Bug Reports1"
    },
    {
      "parameters": {
        "jsCode": "// Merge AI analysis with original bug data\nconst originalBug = $('Sanitize and Extract Bug Details1').first().json;\nconst aiAnalysis = $input.first().json;\n\n// Combine all data\nconst enrichedBug = {\n  ...originalBug,\n  analysis: aiAnalysis,\n  searchableText: aiAnalysis.searchSummary || originalBug.searchableText\n};\n\nreturn { json: enrichedBug };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8224,
        1088
      ],
      "id": "a6f4ce1f-6025-41b0-a7a0-e456634b39f6",
      "name": "Merge AI Analysis with Bug Data1",
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -8640,
        1312
      ],
      "id": "4fcf38dc-a62c-4e7a-ab5d-4b10fd653f3c",
      "name": "Embeddings HuggingFace1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the existing bug reports database to find similar issues. Use the search summary from the analyzed bug to query.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "bug_reports_vector_store"
        },
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -8720,
        1104
      ],
      "id": "e1da2f59-64ae-4227-9955-520a2b5741d1",
      "name": "Vector Store Search Tool1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -8432,
        1104
      ],
      "id": "92e1f1ff-2617-4011-8ddf-8ba6b2890aa1",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -8848,
        1104
      ],
      "id": "2fbd01b0-06a2-4441-83dd-1a771aed2c1f",
      "name": "Window Buffer Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -8976,
        1104
      ],
      "id": "6c47d867-b4d6-410b-8edd-b632c84bb92d",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.rawContent }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a bug triage specialist for n8n automation platform. Analyze bug reports and extract structured information.\n\nYour task:\n1. Extract the bug title (concise, descriptive)\n2. Identify the bug description\n3. List steps to reproduce (if provided)\n4. Determine expected vs actual behavior\n5. Classify severity: critical, high, medium, or low\n6. Identify affected components/features\n7. Generate a search-optimized summary for duplicate detection\n\nRespond ONLY with valid JSON in this exact format:\n{\n  \"title\": \"Brief bug title\",\n  \"description\": \"Detailed description\",\n  \"stepsToReproduce\": [\"step1\", \"step2\"],\n  \"expectedBehavior\": \"What should happen\",\n  \"actualBehavior\": \"What actually happens\",\n  \"severity\": \"critical|high|medium|low\",\n  \"affectedComponents\": [\"component1\", \"component2\"],\n  \"searchSummary\": \"Optimized text for semantic search\"\n}\n\nIf information is missing, use \"not specified\" for strings or empty arrays for lists."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -8816,
        880
      ],
      "id": "2cb7b350-c4c4-4a21-bd15-20f59238aa25",
      "name": "AI Agent - Analyze Bug Report1",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Sanitize and structure the bug report\nconst message = $input.first();\nconst content = message.json.content || '';\n\n// Remove mentions, sanitize URLs, limit length\nconst sanitized = content\n  .replace(/<@[!&]?\\d+>/g, '[USER]')\n  .replace(/https?:\\/\\/[^\\s]+/g, '[URL]')\n  .slice(0, 2000);\n\n// Extract basic structure\nconst bugReport = {\n  messageId: message.json.id,\n  authorId: message.json.author?.id || 'unknown',\n  authorName: message.json.author?.username || 'unknown',\n  channelId: message.json.channel_id,\n  timestamp: message.json.timestamp || new Date().toISOString(),\n  rawContent: sanitized,\n  searchableText: sanitized.toLowerCase().trim(),\n  threadId: message.json.id\n};\n\nreturn { json: bugReport };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9200,
        1088
      ],
      "id": "5525b460-e7d8-4bda-9dc4-7433409bc1e0",
      "name": "Sanitize and Extract Bug Details1",
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1ddfe718-f860-4011-bf21-9b77d14d5a5c",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "2aafe829-b971-4022-aa33-8c77e25d4a6d",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "bug|issue|vulnerability|error|problem|broken",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -9424,
        1088
      ],
      "id": "0e71f417-a7eb-4fff-a96e-d5cf9f8af264",
      "name": "Filter Valid Bug Reports1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Error Logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Execution ID": "={{ $execution.id }}",
            "Error Message": "={{ $json.error?.message || 'Unknown error' }}",
            "Failed Node": "={{ $json.node?.name || 'Unknown' }}",
            "Bug Message ID": "={{ $('Sanitize and Extract Bug Details1').first()?.json?.messageId || 'N/A' }}",
            "Stack Trace": "={{ $json.error?.stack?.slice(0, 500) || 'N/A' }}"
          },
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Failed Node",
              "displayName": "Failed Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Bug Message ID",
              "displayName": "Bug Message ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Stack Trace",
              "displayName": "Stack Trace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -7776,
        1732
      ],
      "id": "96cfeed2-b943-4f58-a4eb-2c205c66e6be",
      "name": "Log Error in Google Sheets",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_ERROR_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=🚨 **Bug Bounty Workflow Error**\\n\\n**Time:** {{ $now.toISO() }}\\n**Node:** {{ $('Get Recent Bug Reports').item?.json?.error ? 'Discord API' : 'Unknown' }}\\n**Error Type:** {{ $json.error?.message || 'Processing failed' }}\\n**Bug Message ID:** {{ $('Sanitize and Extract Bug Details1').first()?.json?.messageId || 'N/A' }}\\n\\n**Action Required:** Check n8n workflow execution logs\\n\\n**Quick Link:** {{ $execution.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7776,
        1540
      ],
      "id": "2e756a09-e0c4-44d1-8db4-319d8729c515",
      "name": "Send Error Alert to Discord",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -8000,
        1636
      ],
      "id": "f4ec3a3c-203e-45ac-8ac9-400888c72c14",
      "name": "Check for Errors"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $env.GOOGLE_SHEET_NAME || 'Bug Reports' }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.currentBug.timestamp }}",
            "Message ID": "={{ $json.currentBug.messageId }}",
            "Status": "=Duplicate",
            "Duplicate Of": "={{ $json.matchedBug.threadId }}",
            "Similarity": "={{ Math.round($json.matchedBug.similarity * 100) }}%"
          },
          "matchingColumns": [
            "Message ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message ID",
              "displayName": "Message ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duplicate Of",
              "displayName": "Duplicate Of",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Similarity",
              "displayName": "Similarity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -8224,
        1488
      ],
      "id": "34c5c6fb-d9a4-4e30-9586-66870889a97a",
      "name": "Log Duplicate in Google Sheets",
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $env.GOOGLE_SHEET_NAME || 'Bug Reports' }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.currentBug.timestamp }}",
            "Message ID": "={{ $json.currentBug.messageId }}",
            "Thread ID": "={{ $json.currentBug.threadId }}",
            "Author": "={{ $json.currentBug.authorName }}",
            "Author ID": "={{ $json.currentBug.authorId }}",
            "Title": "={{ $json.currentBug.analysis.title }}",
            "Description": "={{ $json.currentBug.analysis.description }}",
            "Severity": "={{ $json.currentBug.analysis.severity }}",
            "Affected Components": "={{ $json.currentBug.analysis.affectedComponents.join(', ') }}",
            "Steps to Reproduce": "={{ $json.currentBug.analysis.stepsToReproduce.join(' | ') }}",
            "Expected Behavior": "={{ $json.currentBug.analysis.expectedBehavior }}",
            "Actual Behavior": "={{ $json.currentBug.analysis.actualBehavior }}",
            "Status": "=New",
            "Discord Link": "=https://discord.com/channels/{{ $env.DISCORD_GUILD_ID }}/{{ $json.currentBug.channelId }}/{{ $json.currentBug.messageId }}"
          },
          "matchingColumns": [
            "Message ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message ID",
              "displayName": "Message ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author ID",
              "displayName": "Author ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Severity",
              "displayName": "Severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Affected Components",
              "displayName": "Affected Components",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Steps to Reproduce",
              "displayName": "Steps to Reproduce",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected Behavior",
              "displayName": "Expected Behavior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Behavior",
              "displayName": "Actual Behavior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Discord Link",
              "displayName": "Discord Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -9200,
        1784
      ],
      "id": "3d9c3c32-d933-4f59-826b-5d0a9d0df38c",
      "name": "Store Bug in Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $env.DISCORD_GUILD_ID }}"
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $env.DISCORD_CHANNEL_ID }}"
        },
        "limit": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -9648,
        1088
      ],
      "id": "8ea37eaa-e4a8-46ae-a577-985ccef7c828",
      "name": "Get Recent Bug Reports",
      "webhookId": "bcbdc80e-5d47-4ac4-b6fe-b62c7c09eb29",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -9944,
        1088
      ],
      "id": "0667dccf-e932-4814-89f8-5e4adb02eafa",
      "name": "Schedule Trigger Every 5 Min"
    },
    {
      "parameters": {
        "content": "# Additional Recommendations for Both Scales\n\n# - Feedback Loop: Allow users to flag false positives/negatives in duplicate detection to continuously improve the system.\n# - Documentation: Document the workflow, thresholds, and how to interpret results for all stakeholders.\n# - Security: Ensure all API keys and sensitive data are securely stored and accessed via environment variables or secret managers.",
        "height": 480,
        "width": 1264
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7952,
        288
      ],
      "id": "c088e17c-b9dd-4af9-9e2e-e8a8c51db72a",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Bug Report from Discord": {
      "main": [
        [
          {
            "node": "Filter Valid Bug Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Bug Reports": {
      "main": [
        [
          {
            "node": "Sanitize and Extract Bug Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize and Extract Bug Details": {
      "main": [
        [
          {
            "node": "AI Agent - Analyze Bug Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Analyze Bug Report": {
      "main": [
        [
          {
            "node": "Merge AI Analysis with Bug Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Analyze Bug Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Analyze Bug Report",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Analyze Bug Report",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Analyze Bug Report",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store Search Tool",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Store Bug in Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Search Existing Bug Reports",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Threshold": {
      "main": [
        [
          {
            "node": "Route by Duplicate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Duplicate Status": {
      "main": [
        [
          {
            "node": "Reply with Duplicate Reference",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Bug Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply with Duplicate Reference": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Bug Thread": {
      "main": [
        [
          {
            "node": "Store Bug in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Bug in MongoDB": {
      "main": [
        [
          {
            "node": "Store Bug in Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Bug in Vector Store": {
      "main": [
        [
          {
            "node": "Reply with Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Store Bug in Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Close Duplicate Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Bug Report from Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay1": {
      "main": [
        [
          {
            "node": "Close Duplicate Thread1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader1": {
      "ai_document": [
        [
          {
            "node": "Store Bug in Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Store Bug in Vector Store1": {
      "main": [
        [
          {
            "node": "Reply with Confirmation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Bug Thread1": {
      "main": [
        [
          {
            "node": "Store Bug in Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply with Duplicate Reference1": {
      "main": [
        [
          {
            "node": "Rate Limit Delay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Duplicate Status1": {
      "main": [
        [
          {
            "node": "Reply with Duplicate Reference1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Bug Thread1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Threshold1": {
      "main": [
        [
          {
            "node": "Route by Duplicate Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace1": {
      "ai_embedding": [
        [
          {
            "node": "Search Existing Bug Reports1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Store Bug in Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Vector Store Search Tool1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Search Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Analyze Bug Report1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Analyze Bug Report1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Analyze Bug Report1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Analyze Bug Report1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Analyze Bug Report1": {
      "main": [
        [
          {
            "node": "Merge AI Analysis with Bug Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize and Extract Bug Details1": {
      "main": [
        [
          {
            "node": "AI Agent - Analyze Bug Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Bug Reports1": {
      "main": [
        [
          {
            "node": "Sanitize and Extract Bug Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Duplicate Thread1": {
      "main": [
        [
          {
            "node": "Log Duplicate in Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply with Confirmation1": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Log Error in Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Alert to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Duplicate in Google Sheets": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Bug in Google Sheets": {
      "main": [
        [
          {
            "node": "Store Bug in Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Bug Reports": {
      "main": [
        [
          {
            "node": "Filter Valid Bug Reports1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Every 5 Min": {
      "main": [
        [
          {
            "node": "Get Recent Bug Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8447eaa-2399-4ed7-80f5-010a737f2a51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ff2409d8b5c603dae073ad5be38dcf1706844bc85b2b2cd593005bc38acfbca"
  },
  "id": "1ovnog9lOkyNsykp",
  "tags": [
    {
      "createdAt": "2025-10-02T21:49:25.327Z",
      "updatedAt": "2025-10-02T21:49:25.327Z",
      "id": "6hABym2XsUgW8d5c",
      "name": "bug-bounty"
    },
    {
      "createdAt": "2025-10-02T21:49:25.357Z",
      "updatedAt": "2025-10-02T21:49:25.357Z",
      "id": "8WSq17N86L8Iju7O",
      "name": "discord-automation"
    },
    {
      "createdAt": "2025-10-02T22:01:27.849Z",
      "updatedAt": "2025-10-02T22:01:27.849Z",
      "id": "Ae1T0OwI3XwVuLnq",
      "name": "ai-powered"
    }
  ]
}